* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button, .range-slider {
  background-color: white;
}

button:disabled {
  cursor: not-allowed;
}

/* HEADER STYLES */
header {
  display: flex;
  background-color: #4646ff;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
nav {
  background-color: #4646ff;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-logo h1 {
  color: white;
  font-size: 1.5rem;
}

.hamburger-icon {
  z-index: 9999;
  display: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit
}

.hamburger-icon svg {
  /* background-color: black; */
  fill: white;
  stroke: white;
  width: 2rem;
  vertical-align: middle;
}

.range-slider {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.range-slider label {
  display: flex;
  gap: 0.5rem;
}

.range-slider .slider-container {
  display: flex;
  position: relative;
}

.range-slider .hover-value {
  border: 1px solid gray;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
  padding: 0.5rem;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.nav-btns {
  display: flex;
  gap: 10px;
}

.randomize-btn,
.sort-btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid gray;
}

/* BARS STYLES */

main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.bars {
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 1px;
}

.bar {
  background-color: #4646ff;
  flex: auto;
  border-radius: 0 0 5px 5px;
}

.current {
  background-color: red;
}

@media (max-width: 1020px) {
  nav {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: #4646ff;
    height: auto;
    flex-direction: column;
    justify-content:flex-start;
    gap: 15px;
    padding-top: 10rem;
    transform: translate(100%);
    transition: transform 350ms ease-out;
  }

  .hamburger-icon {
    display: block;
  }

  .show-hamburger-nav {
    transform: translate(0%);
  }
}