main {
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 25px;
}

#bars {
    border: 1px solid #4646ff;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    display: flex;
}

.bar {
    background-color: blue;
    flex: auto;
}